#grid{
   display: inline-flex;
   justify-content: flex-end;
   height: 100px;
   width: 2000px;
   flex-wrap: wrap;
   
}

.item{
   flex-basis: 200px;
   background: white;
   border: black;
   border-style: solid;
   padding: 1em;
   height: 180px;
   width: 50px;
   margin-top: 10px;
   color: white;
   
  
 }


 
 


  
  